@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Hantus%20Chen/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-18_173500/fonts/Poppins-Regular/font.ttf');
}
